.introduce-top {
    height: 1.42rem;
    background: #f7f7f7;
    list-style: none;
  }
  .introduce-top .introduce-top-li {
    font-size: 0.27rem;
    float: left;
    margin: 0px 1.25rem 0px 0px;
    cursor: pointer;
  }
  .introduce-top .select-top-li {
    font-size: 0.27rem;
    color: #4990e2;
  }
  .jieshao-model {
    height: 8.12rem;
  }
  .jieshao-model img {
    width: 100%;
    height: 487px;
  }
  .body-main {
    height: inherit;
    min-height: inherit;
    margin-top: 2.3rem;
    margin-bottom: 2.98rem;
    font-family: PingFang-SC-Medium;
      color:rgba(102,102,102,1);
      /*line-height:33px!important;*/
  }
  .active{
      line-height:33px!important;
  }
  .body-main .p {
    margin-top: 0.7rem;
    letter-spacing: 0.02rem;
    text-align:left;
  }
  .body-main h6 {
    font-weight: normal;
  }
  .body-main .ul {
    margin-left: -5px;
    margin-top: -44px;
  }
  .body-main .ul .flex:last-child .solid div {
    height: 0px;
  }
  .body-main ul,
  .body-main li {
    list-style: none;
    cursor: pointer;
    /*height:36px;*/
    /*line-height:37px;*/
  }
  .body-main .item {
    margin: 0 auto;
  }
  .body-main .flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .body-main .circle {
    width: 11px;
    height: 11px;
    border: 1px #4990E2 solid;
    border-radius: 12px;
  }
  .body-main .item .year h6,
  .body-main .month {
    font-size: 20px;
    color: #3B7ADB;
    margin-right: 20px;
    text-align: right;
  }
  .body-main .month {
    font-size: 12px;
    color: #bebebe;
    width: 33px;
  }
  .body-main .solid {
    position: relative;
    display: block;
    width: 7px;
    height: 7px;
    background: #4990E2;
    margin: 1px;
    border-radius: 8px;
  }
  .body-main .solid div {
    width: 1px;
    height: 33px;
    position: absolute;
    background: #4990e2;
    left: 50%;
    margin-left: 0px;
    margin-top: 1px;
  }
  .body-main .flex .text {
    margin-left: 30px;
    line-height: 30px;
    color: #696969;
    overflow: hidden;
    /*超出部分隐藏*/
    white-space: nowrap;
    /*不换行*/
    text-overflow: ellipsis;
    /*超出部分文字以...显示*/
  }
  .body-main .flex .text:hover {
    font-size: 0.5rem;
    color: #4990e2;
  }
  .body-main-time {
    margin-left: 4.07rem !important;
    margin-top: 1.3rem !important;
  }
  @media screen and (max-width: 812px) {
    .body-main-time {
      margin-left: 1.07rem !important;
      margin-top: 1.3rem !important;
      margin-right: 0px;
    }
  }
  .header-top-right{
      padding-left:10.2rem;
  }
  .body-main{text-align:center;line-height:100px;font-size:16px;font-weight:blod;display:none;}
  .body-main.active{display:block;}
  
  /* #ul{
      font-size:16px;
  }
  #ul li{
      width:69px;
   margin-right:100px!important;
  
  }
  .case-titles{margin:0 auto;} */
  
  
  /* ---------------------------------------------------------------- */
   .titles{
     height:144px;
     width:100%;
     text-align: center;
   }
.titles #ul{
  height:75px;
  margin:0 auto!important;
  padding-left:85px!important;
}
.titles #ul li{
  height:75px;
 font-size:16px;
 line-height:100px;
 margin-right:85px!important;
 width:69px;
}
.img img{
  width:100%;
  height:487px;
}
.body-main-active{
  width:1015px;
  font-size: 24px;
  margin:0 auto;
  margin-top:174px!important;
}
.header-top-right-list-li{
  font-size:13px!important;
}